@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #352f5b;
}

.container {
    max-width: 400px;
}

header a,
header a:hover {
    text-decoration: none;
    color: #fff;
}

input[type=text],
input[type=text]:focus {
    color: #fff;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 400px;
}

.todos li {
    background: #423a6f;
}

.delete {
    cursor: pointer;
}
